/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Root ocupa tudo */
#root {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #222;
}

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

/* Menu */
.menu a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* CONTAINER CENTRALIZADOR */
.container {
  min-height: calc(100vh - 74px); /* altura da navbar */
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

/* CARD */
.card {
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
